<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <link rel="stylesheet" href="css/blackstyle.css">
</head>
<body>
    <script>
        $(document).ready(function(){
            let suits = ["Spades", "Hearts", "Diamonds", "Clubs"];
            let stringval = ["Ace", "2", "3", "4", "5", "6", "7", "8", "9", "10", "Jack", "C", "Queen", "King"]
            
            var deck;
            var dealerblackjack;
            var playerblackjack;

            //this will create the deck of card from the var above
            function Deck(){
                deck = [];
                let frontspade = "&#127137;"
                let frontheart = "&#127153;"
                let frontdiamond = "&#127137;"
                let frontclub = "&#127137;"
                let Val = 1;

                    for(var x = 0; x < stringval.length; x++)
                    {
                        var card = {Stringval:stringval[x],Suit:suits[0], Value:Val, Back:"&#127136;", Front:frontspade};
                        deck.push(card);
                        frontspade = "&#1271"+(37+Val)+";";
                        Val++;
                    }
                    deck.splice(11,1)
                    Val = 1;
                    for(var x = 0; x < stringval.length; x++)
                    {
                        var card = {StringVal:stringval[x],Suit:suits[1], Value:Val, Back: "&#127136;", Front:frontheart};
                        deck.push(card);
                        frontheart = "&#1271"+(53+Val)+";"; 
                        Val++;
                    }
                    deck.splice(24,1)
                    Val = 1;
                    for(var x = 0; x < stringval.length; x++)
                    {
                        var card = {StringVal:stringval[x],Suit:suits[2], Value:Val, Back: "&#127136;", Front:frontdiamond};
                        deck.push(card);
                        frontdiamond = "&#1271"+(69+Val)+";"; 
                        Val++;
                    }
                    deck.splice(37,1)
                    Val = 1;
                    for(var x = 0; x < stringval.length; x++)
                    {
                        var card = {StringVal:stringval[x],Suit:suits[3], Value:Val, Back: "&#127136;", Front:frontclub};
                        deck.push(card);
                        frontclub = "&#1271"+(85+Val)+";"; 
                        Val++;
                    }
                    deck.splice(50,1)
                Shuffle();
            }

            function clearhands()
            {
                dealerblackjack = [];
                playerblackjack = [];
            }

            function Deal()
            {
                return deck.pop();
            }
            //this will shuffle the deck of cards
            function Shuffle()
            {
                for(var i = 0; i < 1000; i++)
                {
                    var location1 = Math.floor((Math.random() * deck.length));
                    var location2 = Math.floor((Math.random() * deck.length));
                    var temp = deck[location1];

                    deck[location1] = deck[location2]
                    deck[location2] = temp;
                }
            }

            function DealBlackJack()
            {
                Deck();
                clearhands();
                
                for(var i = 1; i < 3; i++){
                    let temp1 = Deal()
                    let temp2 = Deal()
                    $("#playercard" + i + "").html('<h1>'+ temp1.Front +'</h1>');
                    $("#dealercard"+ i + "").html('<h1>'+temp2.Back+'</h1>');
                    dealerblackjack += temp2;
                    playerblackjack += temp1;
                }
            }

            $('#Deal').on('click',()=>{
                Deal();
            });
        });
    </script>
    <h1 class="text-center">Welcome to Blackjack @Context.Session.GetString("FirstName")</h1>
    <div class="blackjackcontainer">
        <div class="body text-center">
            <div class="DealerHand" id="Dealer">
                <h3 class="dealertext">Dealers Hand</h3>
                <div class="col-1 Cards" id="dealercard1"></div>
                <div class="col-1 Cards" id="dealercard2"></div>
                <div class="col-2"></div>
            </div>
            <div class="PlayerHand" id="Player">
                <h3 class="playertext">Players Hand</h3>
                <div class="col-1 Cards" id="playercard1"></div>
                <div class="col-1 Cards" id="playercard2"></div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="buttons text-center">
            <a href="" class="btn btn-secondary ml-5 mr-5" id="Stay">Stay</a>
            <a href="" class="btn btn-secondary ml-2 mr-5" id="Deal">Deal</a>
            <a href="" class="btn btn-secondary mr-5" id="Hit">Hit</a>
        </div>
    </div>
</body>
</html> 