<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <h1 class="text-center">Choose a Game!!!</h1>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h3 class="text-center"><img class="w-25 rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQlYn-dpM7QoS7HJ0-j8TqiCxrEL6t25-XDSA&usqp=CAU" alt=""></h3>
            </div>
            <div class="col-12">
                <h3 class="text-center"><img class="w-25 rounded-circle" src="https://us.123rf.com/450wm/makstrv/makstrv1711/makstrv171100011/89178539-poker-game-logo-emblem-.jpg?ver=6" alt=""></h3>
            </div>
            <div class="col-12">
                <a href="SevenCardStud"><h3 class="text-center"><img src="https://purepng.com/public/uploads/medium/purepng.com-poker-chipspokercard-gamescombines-gamblingstrategyskillsportgamepoker-chips-1701528180840gpcb8.png" alt="" class="w-25"></h3></a>
            </div>
        </div>
        <div class="bottom text-center mt-5">
            <a href="/logout" class="btn btn-secondary">Logout</a>
        </div>
    </div>
</body>
</html>
