
<div class="SevenContainer">
    <div class="row DealerHand" id="DealerHand">
        <h3 class="dealerhandtext">Dealer's Hand</h3>
        <div class="col-sm-1 Cards" id="dealerseven1"></div>
        <div class="col-sm-1 Cards" id="dealerseven2"></div>
        <div class="col-sm-1 Cards" id="dealerseven3"></div>
        <div class="col-sm-1 Cards" id="dealerseven4"></div>
        <div class="col-sm-1 Cards" id="dealerseven5"></div>
        <div class="col-sm-1 Cards" id="dealerseven6"></div>
        <div class="col-sm-1 Cards" id="dealerseven7"></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row Space"></div>
    <div class="row" id="PlayerHand">
        <h3 class="yourhandtext">Your Hand</h3>
        <div class="col-sm-1 Cards" id="playerseven1"></div>
        <div class="col-sm-1 Cards" id="playerseven2"></div>
        <div class="col-sm-1 Cards" id="playerseven3"></div>
        <div class="col-sm-1 Cards" id="playerseven4"></div>
        <div class="col-sm-1 Cards" id="playerseven5"></div>
        <div class="col-sm-1 Cards" id="playerseven6"></div>
        <div class="col-sm-1 Cards" id="playerseven7"></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <button id="deal">Deal</button>
            
        </div>
    </div>
</div>