
.SevenContainer {
    background: url(https://thumbs.dreamstime.com/b/realistic-poker-table-d-rendered-scene-48173745.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 600px;
}

.dealerhandtext {
    text-align: center;
    color: white;
}
.yourhandtext {
    text-align: center;
    color: white;
}
.Cards{
    color: black;
    margin: 1px;
    display: inline-block;
    padding: 5px;
    
}
.Cards h1{
    font-size: 100px;
}



.dealer{
    margin-top: 70px;
    padding: 5px;
    margin-left: 20px;
}
.your{
    margin-top: 20px;
    padding: 5px;
    margin-left: 20px;
}
.Space{
    height:80px;
}


#DealerHand{
    padding-top: 120px;
    padding-left: 30px;
}
#PlayerHand{
    padding-left: 30px;
}